<div class="container center-align" id="map-info-window" >
  <% current_park_it = @user_parkits.select { |parkit| parkit.spot_id == spot.id }.last %>

  <% if spot.status == "taken" && current_park_it && !spot.park_its.last.paid_until.blank? %>
    <h5 id="personal-header"><%= spot.place_no %></h5>
  <% else %>
	 <h5><%= spot.place_no %></h5>
  <% end %>
	<% if spot.status == "avail" && !spot.park_its.last.nil? && !spot.park_its.last.paid_until.nil? && (spot.park_its.last.paid_until - Time.now).to_i/60 > 0 %>
    <span>
      <div class="status-badge" id="paid">
        Paid
      </div>
      <div class="status-badge" id="available">
        Available
      </div>
    </span>
		<p><strong><%= (spot.park_its.last.paid_until - Time.now).to_i/60 %> minutes</strong> of paid parking! </p>
  <% elsif spot.status == "avail" %>
    <div class="status-badge" id="available">
      Available
    </div>
    <p>Click to Park Here<p>
  <% elsif spot.status == "taken" && current_park_it && !spot.park_its.last.paid_until.blank? %>
    <div class="status-badge" id="my-spot">
      My Spot
    </div>
    <div id="time-left" >

      <p class="personal-text"><strong><%= ((spot.park_its.last.paid_until - Time.now).to_i/60).abs %> minutes</strong> of paid parking! </p>
    </div>
    <p class="personal-text" id="update-click-text">Click to Update Your Spot</p>
  <% elsif spot.status == "taken" %>
    <div class="status-badge" id="taken">
      Unavailable
    </div>
    <p>Click to Update Availability</p>
  <% end %>
	<%= render 'shared/park_it_form', spot: spot, park_it: park_it %>
</div>
