<div id="map"></div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var styles = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"}, {"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[ { visibility: "off" }]}];

      window.markers = [];
      window.addMarker = function(handler, data) {
        var marker = new google.maps.Marker({
          position: { lat: parseFloat(data.lat), lng: parseFloat(data.lng) },
          map: handler.getMap(),
          icon: data.picture.url
        });

        marker.addListener('mousedown', function() {
          $("#parkit").html(data.infowindow);

          // Attaches class to body upon icon click for overriding Timepicker


           // Sliding Animation to Park
          $( "#parkit" ).on("click tap", "#parking", function() {
            console.log("parking");
            $("body").removeAttr("data-theme");
            $("body").attr("data-theme", "parking");
            $(".panel-box").animate({
                "top": "67%"
              }, 500, function() {});
          });

          // Sliding Animation for Paid Parking
          $( "#parkit" ).on("click tap", "#money", function() {
            console.log("money");
            $("body").removeAttr("data-theme");
            $("body").attr("data-theme", "money");
            $(".panel-box").animate({
                "top": "67%"
              }, 500, function() {});
          });

          // sliding animation for after submitting form
          $( "#parkit" ).on("click tap", ":submit", function() {
            $(".panel-box").animate({
                "top": "80%"
              }, 500, function() {});
          });

          //sliding animation for personal spot
          $( "#parkit" ).on("click tap", "#personal", function() {
            console.log("sliding up");
            $("body").removeAttr("data-theme");
            $("body").attr("data-theme", "personal");
            $(".panel-box").animate({
                "top": "53%"
              }, 500, function() {});
          });
          $( "#parkit" ).on("click tap", "#caution", function() {
            $(this).addClass('available').removeClass('jiggle');
          });

          //timepicker js
          $('.timepicker').pickatime({
            autoclose: false,
            twelvehour: false
            //default:  'now'

          });

          $(".panel-box").animate({
            "top": "81%"
          }, 500, function() {});
        });

        marker.__off = (function() {
          $( "#parkit #parking" ).off("click tap");
          $( "#parkit #money" ).off("click tap");
          $( "#parkit :submit" ).off("click tap");
          $( "#parkit #personal" ).off("click tap");
          $( "#parkit #caution" ).off("click tap");
        });

        window.markers.push(marker);

      }

      var user_lat = <%= raw (current_user.latitude).to_json %>;
      var user_lng = <%= raw (current_user.longitude).to_json %>;
      var handler = window.handler = Gmaps.build('Google', { builders: { Marker: InfoBoxBuilder} });
      var mapOptions = {disableDefaultUI: true, zoomControl: true}  //creates Options object to change map -- removes default settings but keeps ability to change zoom
      handler.buildMap({
        provider: { styles: styles}, internal: { id: 'map' } },
        function() {
          // window.markers = handler.addMarkers(<%= raw @hash.to_json %>);
          var spots = <%= raw @hash.to_json %>;

          spots.forEach(function(spot) {
            window.addMarker(window.handler, spot);
          });

          if (user_lat && user_lng) {
            handler.getMap().setCenter(new google.maps.LatLng(user_lat, user_lng));
            handler.getMap().setZoom(19);
          }

          handler.getMap().setOptions(mapOptions); //applies mapOptions described above to map
          if (markers.length == 0) {
            handler.getMap().setZoom(17);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(17);
          } else {
            handler.getMap().setZoom(19);
          }
      });
      // $( ".parkit-button" ).click(function() {
      //   $( "#map" ).hide();
      //   $("")



     function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          if (!user_lat || !user_lng) {
            handler.getMap().setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
            handler.getMap().setZoom(18);
          }

          $.ajax({
            type: "PATCH",
            url: "/users/<%= current_user.id %>.js",
            data: {user: {latitude: position.coords.latitude, longitude: position.coords.longitude}},
            success: function(){
              console.log("it worked")
            }
          });
        });
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    };
    getLocation()
    setInterval(function(){getLocation()}, 15000)



    //Sliding Animation for Profile Screen
       $( ".back-button" ).hide()
       $( ".btn-profile" ).on("tap click", function() {
        $( ".back-button" ).show(500);
        $("#user").animate({
          "left": 0
        }, 500, function() {
        });
      });
      $( ".back-button" ).on("tap click", function() {
        $(this).hide();
        $("#user").animate({
          "left": 1000
        }, 1000, function() {
        });
      });
    });
  </script>
<% end %>
