<div id="fullpage">
  <div class="section">
    <div class="container">
      <div class="row">
       <div class="col s12 m7">
          <div id="banner-title">
            <h1>PPParkIt</h1>
            <p>Changing the way you park. Driven by the community.</p>
          </div>
          <div class="align-button">
            <%= link_to spots_path, class: "btn-large" do %>
              <i class="fa fa-facebook-square"></i> Sign up with Facebook
            <% end %>
          </div>
        </div>
        <div class="col m5 hide-on-small-only">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col m5 hide-on-small-only">
            <div id="banner-picture">
              <%= image_tag 'iphone.png', id:'iphone-pic'%>
            </div>
          </div>
          <div class="col s12 m7">
            <div id="banner-title">
              <h1>Find spots easily.</h1>
              <p>Find free parking spots using with the click of a button. Worrying about where to park will be a thing of the past.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 m7">
            <div id="banner-title">
              <h1>We love our users.</h1>
              <p>Earn loyalty points the more you use PPParkIt. The more feedback you give us, the more you will be rewarded!</p>
            </div>
          </div>
          <div class="col m5 hide-on-small-only">
            <div id="banner-picture">
              <%= image_tag 'iphone.png', id:'iphone-pic'%>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col m5 hide-on-small-only">
            <div id="banner-picture">
              <%= image_tag 'iphone.png', id:'iphone-pic'%>
            </div>
          </div>
          <div class="col s12 m7">
            <div id="banner-title">
              <h1>Everybody wins!</h1>
              <p>We help users decrease their CO2 emissions, help cut down their costs and help solve the parking problem.</p>
            </div>
          </div>
        </div>
      </div>

    <%= render 'shared/footer' %>
    </div>
</div>
