<div id="fullpage">
  <div class="section">
    <div class="container">
      <div class="row">
       <div class="col s12 m7">
          <div id="banner-title">
            <h1>PPParkIt</h1>
            <p>Changing the way you park. Driven by the community.</p>
          </div>
          <div class="button">
            <%= link_to user_facebook_omniauth_authorize_path, class: "btn-large" do %><i class="fa fa-facebook-square"></i>Connect With Facebook
            <% end %>
          </div>
        </div>
        <div class="col m5 hide-on-small-only">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col m5 hide-on-small-only">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
        <div class="col s12 m7">
          <div id= "banner-title">
            <h1>Find spots easily.</h1>
            <p>Find free parking spots with the click of a button. Worrying about where to park will be a thing of the past.</p>
          </div>
        </div>
        <div class="col s12 hide-on-med-and-up">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 m7">
          <div id="banner-title">
            <h1>We love our users.</h1>
            <p>Earn loyalty points the more you use PPParkIt. The more feedback you give us, the more you will be rewarded!</p>
          </div>
        </div>
        <div class="col m5 col s12">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-padded">
    <div class="container">
      <div class="row">
        <div class="col m5 hide-on-small-only">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
        <div class="col s12 m7">
          <div id="banner-title">
            <h1>Everybody wins!</h1>
            <p>We help users decrease their CO2 emissions, help cut down their costs and help solve the parking problem.</p>
          </div>
        </div>
        <div class="col s12 hide-on-med-and-up">
          <div id="banner-picture">
            <%= image_tag 'iphone.png', id:'iphone-pic'%>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
     <div class="footer-fixed">
        <div class="wrapper-foot">
          <div class="row center-align">
            <div class="col s12">
            <ul class="footer-links list-inline">
              <li class="fa fa-youtube-square fa-lg color-icon" aria-hidden="true"></li>
              <li class="fa fa-facebook-square fa-lg color-icon" aria-hidden="true"></li>
              <li class="fa fa-twitter-square fa-lg color-icon" aria-hidden="true"></li>
              <li class="fa fa-instagram fa-lg color-icon" aria-hidden="true"></li>
            </ul>
            </div>
            <div class="col s12">
              <p class="">made with <i class="fa fa-heart color-heart"></i> by &copy;PPParkIt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
